.portfolio
    background: url("../img/portfolio-pattern.jpg") repeat-y center left $secondary
    background-size: 50%
    &__title
        margin: auto
        margin-bottom: 100px
.slider
    &__image
        display: block
        margin: auto
        max-width: 380px
.arrows
    &__left
        margin-top: 20px
    &__right
        margin-top: 20px